<header class="w-auto sticky bg-transparent top-10 text-gray-700 body-font">
  <div class="container bg-white bg-opacity-50 mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
              {{ "/src/site/images/logo-delite.svg" | svgContents("w-auto h-32") | safe }}
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
 {% include "navigation-links.njk" %}
    </nav>
 
  </div>
</header>

 