# dependecies installed by npm
/node_modules
/src/functions/node_modules

# build artefacts
/dist
/src/site/css

# secrets
.env
.env.*

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# Local Netlify folder
.netlify
