---
layout: default
pageClass: posts
templateEngineOverride: njk, md
---
<section>
  <div class="container px-8 py-12 mx-auto">
    {{ content | safe }}
  </div>

  <div class="mt-12 pt-4 text-gray-600 text-sm border-t border-gray-300">
  </div>
</section>

