---
title: ElevenTail - Products
layout: default
---
        {% for product in products %}
        <section class="text-gray-700 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-contain object-center rounded" src="{{product.image}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{product.name}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{product.name}}</h1>

        <p class="leading-relaxed">{{product.description}}</p>
        <form id="form" action="" method="post">
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
                  <label for="quantity">Quantity </label>
               <input
                 type="number"
                 id="quantity"
                 name="quantity"
                 value="1"
                 min="1"
                 max="10"
               />
               <input type="hidden" name="sku" value="{{product.sku}}" />
          <div class="flex">
            <span class="mr-3">Color</span>
            <button class="border-2 border-gray-300 ml-1 bg-red-500 rounded-full w-6 h-6 focus:outline-none"></button>
          </div>
          <div class="flex ml-6 items-center">

            <span class="mr-3">Size</span>
            <div class="relative">
              <select class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-indigo-500 text-base pl-3 pr-10">
                <option>SM</option>
                <option>M</option>
                <option>L</option>
              </select>
              <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900">${{product.amount}}</span>
          
          <button type="submit" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-500 rounded">BUY NOW</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</section>
     
        {% endfor %}

      

    <script src="https://js.stripe.com/v3/"></script>